/* create scss with nested hover
change the button color on hover*/

$bcolor: #ff0000;
$hcolor: #00ff00;

button {
        color: $bcolor;
        &:hover {
                color: $hcolor;
        }
}
